[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "~=4.2"
requests = "~=2.31"
pydantic = "*"
ruff = "*"
black = "*"
isort = "*"
mypy = "*"
pre-commit = "*"
celery = {version = "==5.3.4", extras = ["redis"]}
djangorestframework = "~=3.14"
djangorestframework-simplejwt = {version = "~=5.3", extras = ["crypto"]}
flower = "==2.0.1"
gunicorn = "21.2.0"
psycopg2-binary = "~=2.9.9"

[dev-packages]
black = "~=23.7"
grequests = "*"
ipdb = "*"
isort = "~=5.12"
mypy = "*"
pympler = "~=1.0"
ruff = "~=0.0.242"
django-stubs = "~=4.2.7"

[requires]
python_version = "3.11"

[scripts]
app = "python src/manage.py runserver"
